

.btn {
    margin-top: 5px;
    background-color: brown;
    color: white;
    border: 1px solid black;
    margin-left: 25%;
    margin-top: 4vh;
    border-radius: 5px;
    margin-top: 2.5vh;
    font-size: medium;

}

.btn:hover {
    background-color: burlywood;
    color: antiquewhite;
}

.modal {
    box-shadow: 2px 3px gray;
    border-radius: 5px;
    background-color: azure;
    padding:1rem ;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: 40%;
}


p{
    text-align: center;
    font-size: large;
    font-weight: 700;
}